@charset "UTF-8";
/* 基本色 */
:root {
  --accent2-color:#BF8F73;
  --accent-color:#BF0637;
  --dark-color:#024873;
  --back-color:#D9B9A7;
  --main-color:#F25041;
  --slide-back:#e3e3e3;
}

/* 基本設定：　ページ全体 */
body {
  margin: 0;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
  z-index: 10;
  position: absolute;
}

.headA {
  display: inline-block;
  line-height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 700;
}

.top_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top_menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000;
  font-size: 12px;
}

.top_menu li :hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .top_menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  header .container-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .headC {
    margin-right: 10px;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 28px;
    opacity: 0.5;
    cursor: pointer;
  }
  .headC :hover {
    opacity: 0.3;
  }
  .top_menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .headC {
    display: none;
  }
  .top_menu {
    display: block !important;
  }
}

#slider {
  background-color: var(--slide-back);
  padding: 10px;
  padding-top: 65px;
}

#slider .container {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.slick-slide img {
  margin: 0 auto;
}

.slick-prev {
  left: 50px;
}

.slick-next {
  right: 50px;
}

.slick-prev, .slick-next {
  z-index: 100;
}

.slick-prev::before, .slick-next::before {
  color: black !important;
}

#listable, #blogs {
  width: 100%;
  background-color: #fafafa;
  padding-top: 20px;
}

#listable .container, #blogs .container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
}

#listable .icon, #blogs .icon {
  display: inline-block;
  font-size: 32px;
  width: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
  background-color: var(--dark-color);
  -webkit-box-shadow: 0px 0px 4px 2px #01243a inset;
          box-shadow: 0px 0px 4px 2px #01243a inset;
  color: #fff;
}

.indexTxt {
  font-size: 32px;
  font-weight: 900;
  color: var(--dark-color);
}

#blogs .indexTxt {
  color: var(--main-color);
}

#blogs .icon {
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 0px 4px 2px #b33b30 inset;
          box-shadow: 0px 0px 4px 2px #b33b30 inset;
}

#blogs p {
  color: black;
}

@media (max-width: 500px) {
  #blogs p {
    color: black;
    font-size: 20px;
  }
}

.wrapIcon {
  text-align: center;
  margin-bottom: 15px;
}

.allgames {
  max-width: 1000px;
  margin: 10px auto;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.allgames div {
  padding: 10px;
}

.allgames img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#blogs {
  background-color: var(--slide-back);
  padding-bottom: 50px;
}

#aboutcont .text {
  padding: 20px;
}

#aboutcont h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

#aboutcont p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}

#aboutcont .photo {
  min-height: 200px;
  background-image: url(../img/882203_s.jpg);
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  #aboutcont .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  #aboutcont .photo {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  #aboutcont .text {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 50px;
  }
}

.slideImg {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 700px;
}

.fa-js-square {
  font-size: 70px;
}

@media (max-width: 500px) {
  .fa-js-square {
    font-size: 50px;
  }
  .slideImg {
    height: 600px;
  }
}

@media (max-width: 450px) {
  .slideImg {
    height: 500px;
  }
}
/*# sourceMappingURL=style.css.map */