@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* Color Theme Swatches in Hex */
$Subtlety-of-Hue-The-Spa-1-hex: #484A47;
$Subtlety-of-Hue-The-Spa-2-hex: #C1CE96;
$Subtlety-of-Hue-The-Spa-3-hex: #ECEBF0;
$Subtlety-of-Hue-The-Spa-4-hex: #687D77;
$Subtlety-of-Hue-The-Spa-5-hex: #353129;

/* Color Theme Swatches in Hex */
$Japan-Modernism-1-hex: #FFCD3E;
$Japan-Modernism-2-hex: #15161C;
$Japan-Modernism-3-hex: #C9332A;
$Japan-Modernism-4-hex: #E0E0E0;
$Japan-Modernism-5-hex: #5A9E2C;


$Subtlety-of-Hue-The-Spa-1-hex: $Japan-Modernism-2-hex;
$Subtlety-of-Hue-The-Spa-5-hex: $Japan-Modernism-2-hex;
$Subtlety-of-Hue-The-Spa-2-hex: $Japan-Modernism-5-hex;
$Subtlety-of-Hue-The-Spa-4-hex: $Japan-Modernism-3-hex;


//$tableBack: #218576;
$tableBack: $Subtlety-of-Hue-The-Spa-2-hex;
//$waku: #854e21;
$waku: $Subtlety-of-Hue-The-Spa-5-hex;
$infoSize: 55px;
$infoCellSize: 82px;




.fixed-top{
  position: static;
}

.navbar{
  background-color: $Subtlety-of-Hue-The-Spa-5-hex;
}

.nav-item{
  cursor: pointer;
}

main{
  margin-top: 2px;

  #config, #endScreen{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $Subtlety-of-Hue-The-Spa-5-hex;
    background: rgba(45,45,45, 0.8);
    z-index: 20;
    color: $Subtlety-of-Hue-The-Spa-3-hex;
  }

  #endScreen{
    font-family: 'Shrikhand', cursive;
    display: none;
    font-size: 100px;
    color: $Subtlety-of-Hue-The-Spa-3-hex;

    #judgement{
      text-align: center;
    }
  }

  #endScreenBtn{
    display: flex;
    justify-content: center;
  }

  #replay, #setChange, #otherGame{
    background-color: $Subtlety-of-Hue-The-Spa-3-hex;
    color: $Subtlety-of-Hue-The-Spa-5-hex;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    background-color: $Subtlety-of-Hue-The-Spa-4-hex;
    font-size: 20px;
    color: $Subtlety-of-Hue-The-Spa-3-hex;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 4px;
    border-bottom: 4px solid darken($Subtlety-of-Hue-The-Spa-4-hex, 15%);
    cursor: pointer;
  }
}

@media (max-width: 560px) {
  main{  
    #config{
      h3{
        font-size: 20px;
      }
    }

    .wrap_choise div{
      font-size: 20px;
      margin: 4px;
      padding-right: 10px;
      padding-left: 10px;
    }

    #endScreenBtn{
      flex-direction: column;

      .endBtn{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 16px;
        padding: 8px 14px;
      }
    }
  }
}

.container{
  padding-right: 2px;
  padding-left: 2px;
}

#board{
  background-color: $tableBack;
  line-height: 0;
  border: 10px solid $waku;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 560px) {
  #board{
    border: 5px solid $waku;
  }
}


td.cell{
  background-color: $tableBack;
  width: 60px;
  height: 60px;
  margin: 2px;
  font-size: 50px;
  text-align: center;
  font-family: auto;
  border: 1px solid $Subtlety-of-Hue-The-Spa-5-hex;
}

td.black{
  color: $Subtlety-of-Hue-The-Spa-1-hex;
}
td.white{
  color: $Subtlety-of-Hue-The-Spa-3-hex;
}

.wrapInfo{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;

  .info{
    display: flex;
    justify-content: space-between;
    background-color: lighten($Subtlety-of-Hue-The-Spa-5-hex, 70%);
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: $infoCellSize*3;

    .cellBlack, .cellWhite{
      display: block;
      width: $infoCellSize;
      height: $infoCellSize;
      border-radius: 50%;
      border: 2px $Subtlety-of-Hue-The-Spa-5-hex solid;
      text-align: center;
      background-color: $Subtlety-of-Hue-The-Spa-1-hex;
      color: $Subtlety-of-Hue-The-Spa-3-hex;
      position: relative;
      z-index: 10;
    }
    
    .cellWhite{
      background-color: $Subtlety-of-Hue-The-Spa-3-hex;
      color: $Subtlety-of-Hue-The-Spa-5-hex;
    }

    #numWhite, #numBlack{
      font-family: 'Shrikhand', cursive;
      font-size: $infoSize;
      color: $Subtlety-of-Hue-The-Spa-5-hex;
    }

    .unit{
      padding-right: 5px;
      line-height: $infoCellSize;
    }
  }
}

@media (max-width: 560px) {
  .wrapInfo{
    flex-direction: column;

    .info{
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.fa-cog{
  font-size: 25px;
  color: white;
}

.fa-cog:hover{
  color: orange;
}


.navCfg{
  text-align: right;
}

.fa-times-circle{
  font-size: 25px;
  cursor: pointer;
}

.wrap_item{
  margin-bottom: 30px;
}

.wrap_choise{
  display: flex;

  div{
    font-size: 35px;
    margin:   8px;
    padding-right: 16px;
    padding-left: 16px;
  }

  div.on{
    color: white;
    background: $Subtlety-of-Hue-The-Spa-4-hex;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    border: 3px outset $Subtlety-of-Hue-The-Spa-4-hex;
    border-radius: 10px;
  }

  div.off{
    color: $Subtlety-of-Hue-The-Spa-5-hex;
    background: white;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    border: 3px inset darken(white, 40%);
    border-radius: 10px;
    opacity: 0.6;
    cursor: pointer;
  }
}


#blackTurn, #whiteTurn{
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  width: auto;
  vertical-align: middle;
}

#blackPlayer, #whitePlayer{
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  width: auto;
  font-weight: bold;
  vertical-align: middle;
}

.comLvPlace{
  height: 20px;
  line-height: 5px;
  width: auto;
  font-weight: bold;
}

.subScreen{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 90%;
  max-width: 500px;
}

.fa-position-left {
  position: absolute;
  top: calc(50% - .5em);
  left: 1rem;
}
.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}

.btn-gradient-radius {
  display: block;
  margin: 0 auto;
  width: 200px;
  font-family: 'Shrikhand', cursive;
  font-size: 40px;
  padding: 7px 20px;
  border-radius: 50px;
  border: 2px solid #FFF;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(45deg, $Japan-Modernism-2-hex 0%, lighten($Japan-Modernism-2-hex, 20%) 100%);
  transition: .4s;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #C9332A 0%, #f76a35 100%);
  color: #fff;
}