@charset "UTF-8";
$tableBack: #218576;
$waku: #854e21;
$infoSize: 45px;
$infoCellSize: 70px;

.fixed-top{
  position: static;
}

.navbar{
  background-color: black;
}

.nav-item{
  cursor: pointer;
}

main{
  margin-top: 60px;
  
  #config{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    //opacity: 0.9;
    background: rgba(45,45,45, 0.8);
    z-index: 20;
    color: white;
    display: none;
    padding-top: 90px;
  }
}

#board{
  background-color: $tableBack;
  line-height: 0;
  border: 10px solid $waku;
  margin-right: auto;
  margin-left: auto;
}

td.cell{
  background-color: $tableBack;
  width: 60px;
  height: 60px;
  margin: 2px;
  font-size: 50px;
  text-align: center;
  font-family: auto;
  border: 1px solid black;
}

td.black{
  color: black;
}
td.white{
  color: white;
}

.wrapInfo{
  margin-top: 10px;
  display: flex;
  justify-content: center;

  .info{
    display: flex;
    justify-content: space-between;
    background-color: lighten(black, 90%);
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    width: $infoCellSize*3;

    .cellBlack, .cellWhite{
      display: inline-block;
      line-height: $infoCellSize;
      width: $infoCellSize;
      height: $infoCellSize;
      border-radius: 50%;
      border: 2px black solid;
      text-align: center;
      background-color: black;
      color: white;
      position: relative;
      z-index: 10;
    }
    
    .cellWhite{
      background-color: white;
      color: black;
    }

    #numWhite, #numBlack{
      font-size: $infoSize;
      color: black;
    }

    .unit{
      padding-right: 5px;
      line-height: $infoCellSize;
    }
  }
}

.fa-cog{
  font-size: 25px;
  color: white;
}

.fa-cog:hover{
  color: orange;
}


.navCfg{
  text-align: right;
}

.fa-times-circle{
  font-size: 25px;
  cursor: pointer;
}

.wrap_item{
  margin-bottom: 30px;
}

.wrap_choise{
  display: flex;

  div{
    font-size: 35px;
    margin:   8px;
    padding-right: 16px;
    padding-left: 16px;
  }

  div.on{
    color: white;
    background: orangered;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    border: 3px outset orangered;
    border-radius: 10px;
  }

  div.off{
    color: black;
    background: white;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    border: 3px inset darken(white, 40%);
    border-radius: 10px;
    opacity: 0.6;
    cursor: pointer;
  }
}

.btn-square-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-pop:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}