@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* Color Theme Swatches in Hex */
$Subtlety-of-Hue-The-Spa-1-hex: #484A47;
$Subtlety-of-Hue-The-Spa-2-hex: #C1CE96;
$Subtlety-of-Hue-The-Spa-3-hex: #ECEBF0;
$Subtlety-of-Hue-The-Spa-4-hex: #687D77;
$Subtlety-of-Hue-The-Spa-5-hex: #353129;

/* Color Theme Swatches in Hex */
$Japan-Modernism-1-hex: #FFCD3E;
$Japan-Modernism-2-hex: #15161C;
$Japan-Modernism-3-hex: #C9332A;
$Japan-Modernism-4-hex: #E0E0E0;
$Japan-Modernism-5-hex: #5A9E2C;


$Subtlety-of-Hue-The-Spa-1-hex: $Japan-Modernism-2-hex;
$Subtlety-of-Hue-The-Spa-5-hex: $Japan-Modernism-2-hex;
$Subtlety-of-Hue-The-Spa-2-hex: $Japan-Modernism-5-hex;
$Subtlety-of-Hue-The-Spa-4-hex: $Japan-Modernism-3-hex;


//$tableBack: #218576;
$tableBack: $Subtlety-of-Hue-The-Spa-2-hex;
//$waku: #854e21;
$waku: $Subtlety-of-Hue-The-Spa-5-hex;
$infoSize: 55px;
$infoCellSize: 82px;




.fixed-top{
  position: static;
}

.navbar{
  background-color: $Subtlety-of-Hue-The-Spa-5-hex;
}

.nav-item{
  cursor: pointer;
}

main{
  margin-top: 60px;

  #config, #endScreen{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $Subtlety-of-Hue-The-Spa-5-hex;
    background: rgba(45,45,45, 0.9);
    z-index: 20;
    color: $Subtlety-of-Hue-The-Spa-3-hex;
    padding-top: 90px;
    //display: none;
  }

  #endScreen{
    font-family: 'Shrikhand', cursive;
    display: none;
    font-size: 100px;
    color: $Subtlety-of-Hue-The-Spa-3-hex;
    padding-top: 250px;

    #judgement{
      text-align: center;
    }
  }

  #endScreenBtn{
    display: flex;
    justify-content: center;
  }

  #replay, #setChange, #otherGame{
    background-color: $Subtlety-of-Hue-The-Spa-3-hex;
    color: $Subtlety-of-Hue-The-Spa-5-hex;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    text-align: left;
    background-color: $Subtlety-of-Hue-The-Spa-4-hex;
    font-size: 20px;
    color: $Subtlety-of-Hue-The-Spa-3-hex;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 4px;
    border-bottom: 4px solid darken($Subtlety-of-Hue-The-Spa-4-hex, 15%);
    cursor: pointer;
  }
}

#board{
  background-color: $tableBack;
  line-height: 0;
  border: 10px solid $waku;
  margin-right: auto;
  margin-left: auto;
}

td.cell{
  background-color: $tableBack;
  width: 60px;
  height: 60px;
  margin: 2px;
  font-size: 50px;
  text-align: center;
  font-family: auto;
  border: 1px solid $Subtlety-of-Hue-The-Spa-5-hex;
}

td.black{
  color: $Subtlety-of-Hue-The-Spa-1-hex;
}
td.white{
  color: $Subtlety-of-Hue-The-Spa-3-hex;
}

.wrapInfo{
  margin-top: 10px;
  display: flex;
  justify-content: center;

  .info{
    display: flex;
    justify-content: space-between;
    background-color: lighten($Subtlety-of-Hue-The-Spa-5-hex, 70%);
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: $infoCellSize*3;

    .cellBlack, .cellWhite{
      display: block;
      width: $infoCellSize;
      height: $infoCellSize;
      border-radius: 50%;
      border: 2px $Subtlety-of-Hue-The-Spa-5-hex solid;
      text-align: center;
      background-color: $Subtlety-of-Hue-The-Spa-1-hex;
      color: $Subtlety-of-Hue-The-Spa-3-hex;
      position: relative;
      z-index: 10;
    }
    
    .cellWhite{
      background-color: $Subtlety-of-Hue-The-Spa-3-hex;
      color: $Subtlety-of-Hue-The-Spa-5-hex;
    }

    #numWhite, #numBlack{
      font-family: 'Shrikhand', cursive;
      font-size: $infoSize;
      color: $Subtlety-of-Hue-The-Spa-5-hex;
    }

    .unit{
      padding-right: 5px;
      line-height: $infoCellSize;
    }
  }
}

.fa-cog{
  font-size: 25px;
  color: white;
}

.fa-cog:hover{
  color: orange;
}


.navCfg{
  text-align: right;
}

.fa-times-circle{
  font-size: 25px;
  cursor: pointer;
}

.wrap_item{
  margin-bottom: 30px;
}

.wrap_choise{
  display: flex;

  div{
    font-size: 35px;
    margin:   8px;
    padding-right: 16px;
    padding-left: 16px;
  }

  div.on{
    color: white;
    background: $Subtlety-of-Hue-The-Spa-4-hex;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    border: 3px outset $Subtlety-of-Hue-The-Spa-4-hex;
    border-radius: 10px;
  }

  div.off{
    color: $Subtlety-of-Hue-The-Spa-5-hex;
    background: white;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    border: 3px inset darken(white, 40%);
    border-radius: 10px;
    opacity: 0.6;
    cursor: pointer;
  }
}


#blackTurn, #whiteTurn{
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  width: auto;
  vertical-align: middle;
}

#blackPlayer, #whitePlayer{
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  width: auto;
  font-weight: bold;
  vertical-align: middle;
}

.comLvPlace{
  height: 20px;
  line-height: 5px;
  width: auto;
  font-weight: bold;
}

















$color-gray: #666;
$color-black: #000;
$stripe-height: 7px;
$btn-color: $color-gray;
$btn-background: #fff;
$btn-color-hover: #fff;
$btn-background-hover: $color-gray; 
$border-color: $color-gray;
$border-color-hover: $color-black;

@mixin reset-button {
    overflow : visible;
    margin : 0;
    padding : 0;
    border : 0;
    background : transparent;
    font : inherit;
    line-height : normal;
    cursor : pointer;
    -moz-user-select : text;
    
    &:-moz-focus-inner {
        padding : 0;
        border : 0;
    }
}

@keyframes stripe-slide {
    0% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}

.btn {
    @include reset-button;
    font-family: 'Shrikhand', cursive;
    font-size: 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 36px 22px;
    background-color: $btn-background;
    color: $btn-color;
    border: 2px solid $border-color;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: all .5s ease;
    
    &-stripe {
        overflow: hidden;
        position: relative;
        background-color: $btn-background-hover;
        color: $btn-color-hover;
        border-color: $border-color-hover;
        
        &:after {
            content: '';
            display: block;
            height: $stripe-height;
            width: 100%;
            background-image: repeating-linear-gradient(
                45deg,
                $border-color,
                $border-color 1px,
                transparent 2px,
                transparent 5px
            );
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-top: 1px solid $border-color;
            position: absolute;
            left: 0;
            bottom: 0;
            background-size: $stripe-height $stripe-height;
            background-image: repeating-linear-gradient(
              45deg,
              $btn-color-hover,
              $btn-color-hover 1px,
              transparent 2px,
              transparent 5px
            );
            border-top: 1px solid $border-color-hover;
            animation: stripe-slide 12s infinite linear forwards;
        }
    }
}